.about {
  padding: 60px 40px;
  background-color: #111827;
  color: white;
   /* height: 100vh;  Ocupa toda la pantalla */
    width: 95vw; /* Ocupa toda la pantalla */
}

.about h2 {
  font-size: 36px;
  margin-bottom: 24px;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px;
  margin-bottom: 40px;
}

.about-photo {
  width: 220px;
  height: 220px;
  border-radius: 100%;
  object-fit: cover;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.about-content p {
  max-width: 600px;
  color: #d1d5db;
  line-height: 1.6;
}

.tech-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
}

.tech-item {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #1f2937;
  padding: 12px 16px;
  border-radius: 8px;
  transition: background 0.3s;
}

.tech-item:hover {
  background-color: #374151;
}

.tech-item img {
  width: 24px;
  height: 24px;
}
.code-preview {
  margin-top: 40px;
  text-align: center;
}

.code-preview h4 {
  margin-bottom: 16px;
  font-size: 24px;
  color: #3b82f6;
}

.preview-img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}